---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Products from '../components/Products.astro';
import Sponsors from '../components/Sponsors.astro';
import Reasons from '../components/Reasons.astro';
import Categories from '../components/Categories.astro';
import Cuotes from '../components/Cuotes.astro';
---

<Layout title="Flex | Tienda de asientos">
	<main>
		<Hero />
		<Sponsors />
		<Products />
		<Reasons />
		<Categories />
		<Cuotes />
		
	</main>
	
</Layout>