<section class=" mx-auto sm:px-6  lg:mx-44 mb-20">
    <article class="pt-10">
        <h2 class="font-extrabold text-center tracking-tight leading-none text-6xl font-playfair">Categorías</h2>
        <section class="mt-12 grid lg:grid-rows-2  md:grid-cols-1 lg:grid-cols-10 gap-x-6 gap-y-8">
            <article class="relative  lg:col-span-4 row-span-2 w-full md:h-full h-64 bg-cover bg-center group rounded-lg overflow-hidden hover:bg- shadow-lg hover:shadow-2xl  transition duration-300 ease-in-out"
                style="background-image: url('https://images.unsplash.com/photo-1641794008048-d863bb4a23d3?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:opacity-75 transition duration-300 ease-in-out"></div>
                <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                    <h3 class="text-center">
                        <a class="text-white text-4xl font-bold text-center" href="#">
                            <span class="absolute inset-0"></span>
                            OFICINA
                        </a>
                    </h3>
                </div>
            </article>
            <article class="relative w-full  lg:col-span-6 h-80 bg-cover bg-bottom group rounded-lg overflow-hidden shadow-lg hover:shadow-2xl  transition duration-300 ease-in-out"
                style="background-image: url('https://images.unsplash.com/photo-1519219788971-8d9797e0928e?q=80&w=2044&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:opacity-75 transition duration-300 ease-in-out"></div>
                <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                    <h3 class="text-center">
                        <a class="text-white text-4xl font-bold text-center" href="#">
                            <span class="absolute inset-0"></span>
                            ESCRITORIOS
                        </a>
                    </h3>
                </div>
            </article>
            <article class="relative w-full lg:col-span-3 h-80 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg hover:shadow-2xl  transition duration-300 ease-in-out"
                style="background-image: url('https://images.unsplash.com/photo-1598300042247-d088f8ab3a91?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:opacity-75 transition duration-300 ease-in-out"></div>
                <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                    <h3 class="text-center">
                        <a class="text-white text-4xl font-bold text-center" href="#">
                            <span class="absolute inset-0"></span>
                            RECEPCIÓN
                        </a>
                    </h3>
                </div>
            </article>
            <article class="relative lg:col-span-3 w-full h-80 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg hover:shadow-2xl  transition duration-300 ease-in-out"
            style="background-image: url('https://images.unsplash.com/photo-1586023492125-27b2c045efd7?q=80&w=2158&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
            <div class="absolute inset-0 bg-black bg-opacity-50 group-hover:opacity-75 transition duration-300 ease-in-out"></div>
            <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                <h3 class="text-center">
                    <a class="text-white text-4xl font-bold text-center" href="#">
                        <span class="absolute inset-0"></span>
                        SILLONES
                    </a>
                </h3>
            </div>
        </article>
        </section>
    </article>
</section>