---
import User from "./svgs/User.astro"
---
<!-- 
<section class="py-20 w-full bg-black">
    <h1 class="justify-center  text-center pb-20 tracking-tight leading-none text-white text-6xl font-playfair ">¿ Por qué elegirnos ?</h1>
    <section class="w-full bg-black bg-[url('https://purepng.com/public/uploads/large/office-desk-ban.png')] bg-center bg-contain bg-origin-content   bg-no-repeat   text-wrap ">
        <div class="grid grid-rows-3 grid-flow-col mx-20   justify-between text-white items-center text-center">
            <div class="max-w-72">
                <User class="mx-auto  fill-white size-9 my-4"/>
                <h2 class="text-3xl uppercase">Soporte Lumbar</h2>
                <p class="text-lg pt-3">Trabaja con tranquilidad y evita dolores musculares.</p>
            </div>
            <div class="max-w-72">
                <User class="mx-auto fill-white size-9 my-4" />
                <h2 class="text-3xl uppercase">Cuero Premium</h2>
                <p class="text-lg pt-3">
                    Diseñado para ofrecer un soporte excepcional y un descanso revitalizante en esos momentos de pausa.
                </p> 
            </div>
            <div class="max-w-72">
                <User class="mx-auto fill-white size-9 my-4" />
                <h2 class="text-3xl uppercase">altura ajustable</h2>
                <p class="text-lg pt-3">
                    Puedes trabajar de pie o sentado, manteniendo una postura ergonómica que promueve la salud y la productividad.
                </p> 
            </div>
            <div class="max-w-72">
                <User class= "mx-auto fill-white size-9 my-4" />
                <h2 class="text-3xl uppercase">Espaciosa y Funcional</h2>
                <p class="text-lg pt-3">
                    Su diseño espacioso y funcional permite a los equipos trabajar cómodamente juntos, fomentando la innovación y la eficiencia.
                </p> 
            </div>
            <div class="max-w-72">
                <User class="mx-auto fill-white size-9 my-4" />
                <h2 class="text-3xl uppercase"> Organizador de Alta Capacidad</h2>
                <p class="text-lg pt-3">
                    Con múltiples compartimentos y un diseño inteligente, maximiza el espacio de almacenamiento y facilita el acceso a tus documentos importantes.
                </p> 
            </div>
            <div class="max-w-72">
                <User class="mx-auto fill-white size-9 my-4" />
                <h2 class="text-3xl uppercase"> Diseños a Medida</h2>
                <p class="text-lg pt-3">
                    Nos adaptamos a tus necesidades específicas ofreciendo un servicio de diseño personalizado. 
                </p> 
            </div>

        </div>
    </section>
</section> -->