---
import Facebook from "./svgs/brands/Facebook.astro";
import Instagram from "./svgs/brands/Instagram.astro";
import Spotify from "./svgs/brands/Spotify.astro";
---

<section class="w-screen lg:w-full h-full border-t  border-black ">
    <nav class="flex flex-row justify-center items-center mx-auto gap-x-2 lg:gap-x-20 ">
        <a href=""><Facebook class="size-12 lg:size-32 " /></a>
        <a href=""><Instagram class=" size-12 lg:size-32" /></a>
        <a href=""><Spotify class=" size-12 lg:size-32 " /></a>
        <a href=""><Facebook class=" size-12 lg:size-32" /></a>
        <a href=""><Instagram class="size-12 lg:size-32 " /></a>
        <a href=""><Spotify class=" size-12 lg:size-32" /></a>
    </nav>
<section/>